global
    maxconn 100
    tune.bufsize 163840

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:9000
    stats enable
    stats hide-version
    stats uri /
    stats auth admin:admin

frontend tile38_tcp9851
    bind *:9851
    mode tcp
    default_backend tile38_servers

backend tile38_servers
    option httpchk GET /metrics
    http-check expect rstring .*role.*leader.*
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server tile1_tcp9851 tile1:9851 maxconn 1024 check port 4321 inter 5s
    server tile2_tcp9851 tile2:9851 maxconn 1024 check port 4321 inter 5s

